<!DOCTYPE html>
<html lang="en">
    <head>

        {% load static %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Riskifier</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
        <!-- <link href="bootstrap/css/bootstrap.css" rel="stylesheet"> -->
        <!-- Custom styles for this template -->
        <link href="{% static 'jumbotron.css' %}" rel="stylesheet">
        <!-- <link href="jumbotron.css" rel="stylesheet"> -->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->        
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- BEGIN LinkedIn API -->
    <script type="text/javascript" src="//platform.linkedin.com/in.js">
        api_key: 789vj428c20cdp
        authorize: true
        onLoad: onLinkedInLoad
    </script>
    <!-- END Facebook API -->

    </head>
    <body>

        <!-- BEGIN Facebook API -->

        <script>
          window.fbAsyncInit = function() {
            FB.init({
                appId: '1980520592194814',
              cookie     : true,
              xfbml      : true,
              version    : 'v2.8'
            });
            FB.AppEvents.logPageView();   
          };

          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));

            function checkLoginState() {
                FB.getLoginStatus(function (response) {
                    statusChangeCallback(response);
                });
            }

        </script>

        <!--
        <div id="fb-root"></div>

        <script>
             (function (d, s, id) {
                 var js, fjs = d.getElementsByTagName(s)[0];
                 if (d.getElementById(id)) return;
                 js = d.createElement(s); js.id = id;
                 js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=1980520592194814";
                 fjs.parentNode.insertBefore(js, fjs);
             }(document, 'script', 'facebook-jssdk'));

             function checkLoginState() {
                 FB.getLoginStatus(function (response) {
                     statusChangeCallback(response);
                 });
             }
        </script>
        -->

        <!-- END Facebook API -->

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home/">Riskifier</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" placeholder="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success">Sign in</button>
                    </form>
                </div>
                <!--/.navbar-collapse -->
            </div>
        </nav>
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1 style="text-align: center">Find the preferred investment opportunities and discover your risk profile</h1>
            </div>
        </div>
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <form role="form"> </form>
                    <img src="{% static 'assets/media/start-img.png' %}" width="100%" />
                </div>
                <div class="col-md-4">
                    <h2>Autofill with Facebook</h2>

                    <!-- BEGIN Facebook button -->

                    <!-- <div id="loginButton"  onlogin="checkLoginState();" scope="public_profile,email,user_birthday,user_location,user_education_history,user_relationships,user_relationship_details" class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true"></div> -->
                    <div id="loginButton"  onlogin="checkLoginState();" scope="public_profile,email,user_birthday,user_location,user_education_history,user_relationships,user_relationship_details" class="fb-login-button" data-size="medium" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>

                    <!-- END Facebook button -->

                    <form role="form"> 
                        <div class="form-group"> 
                            <label class="control-label" for="fbInputName">Name</label>                             

                            <input class="form-control" id="fbInputName" placeholder="Name"> 
                        </div>
                        <div class="form-group"> 
                            <label class="control-label" for="fbInputLocation">Location</label>                             
                            <input class="form-control" id="fbInputLocation" placeholder="Location"> 
                        </div>
                        <div class="form-group"> 
                            <label class="control-label" for="fbInputAge">Age</label>

                            <input class="form-control" id="fbInputAge" placeholder="Age"> 
                        </div>
                        <div class="form-group"> 
                            <label class="control-label" for="fbInputGender">Gender</label>                             

                            <input class="form-control" id="fbInputGender" placeholder="Gender"> 
                        </div>

                        <div class="form-group"> 
                            <label class="control-label" for="fbInputEducation">Education</label>                             
                            <input class="form-control" id="fbInputEducation" placeholder="Education"> 
                        </div>
                        <div class="form-group"> 
                            <label class="control-label" for="fbInputMaritalStatus">Marital status</label>                             
                            <input class="form-control" id="fbInputMaritalStatus" placeholder="Marital status"> 
                        </div>
                        <div class="form-group"> 
                            <label class="control-label" for="fbInputNumberOfChildren">Number of children</label>                             
                            <input class="form-control" id="fbInputNumberOfChildren" placeholder="Number of children"> 
                        </div>                         
                    </form>
                </div>
                <div class="col-md-4">
                    <h2>Autofill with LinkedIn</h2>
                    
                    <!-- BEGIN LinkedIn fetch data -->
                    <script type="in/Login">
                    </script>

                    <button type="button" onclick="closeSession()" id="logoutlinked" disabled=true>LinkedIn Logout</button> 

                    <script type="text/javascript">

                        // Setup an event listener to make an API call once auth is complete
                        function onLinkedInLoad() {
                            IN.Event.on(IN, "auth", getProfileData);
                        }

                        // Handle the successful return from the API call
                        function onSuccess(data) {
                            console.log("LinkedIn API response:");
                            console.log(data);
                            
                            ///document.getElementById('linkedinfo').innerHTML = 'Linkedin user connected as ' + data.firstName + ' ' + data.lastName;

                            //var llist = document.getElementById('linkeddata');
                            //var lli = document.createElement('li');
                            //lli.innerHTML = 'Headline: ' + data.headline;
                            //llist.appendChild(lli);

                            document.getElementById('lnInputName').value = data.firstName + " " + data.lastName;

                            document.getElementById('lnInputLocation').value = data.location.name;

                            // Requires full profile permissions
                            ///document.getElementById('lnInputEducationSchoolName').value = data.educations.values[0].school-name;
                            ///document.getElementById('lnInputEducationDegree').value = data.educations.values[0].degree;
                            ///document.getElementById('lnInputEducationFieldOfStudy').value = data.educations.values[0].field-of-study;


                            document.getElementById('lnInputJobTitle').value = data.positions.values[0].title;
                            document.getElementById('lnInputCompanyName').value = data.positions.values[0].company.name;
                            document.getElementById('lnInputCompanyIndustry').value = data.positions.values[0].company.industry;
                            document.getElementById('lnInputYearsOfExperience').value = (new Date()).getFullYear() - data.positions.values[0].startDate.year;

                            document.getElementById('logoutlinked').disabled = false;


                        }

                        // Handle an error response from the API call
                        function onError(error) {
                            console.log(error);
                        }

                        // Use the API call wrapper to request the member's basic profile data
                        function getProfileData() {
                            IN.API.Raw("/people/~:(firstName,lastName,headline,industry,positions,location,educations,summary)").result(onSuccess).error(onError);
                        }

                        function reloadpage() {
                            console.log("reload");
                            location.reload(true);
                        }

                        function closeSession() {
                            IN.User.logout(reloadpage, window);
                            document.getElementById('logoutlinked').disabled = true;
                            
                            ///document.getElementById('linkedinfo').innerHTML = 'Linkedin unconnected - reload page';
                            
                            //window.location.reload(5000);
                        }


                    </script>

                    <form role="form"> 
                        <div class="form-group"> 
                            <label class="control-label" for="lnInputName">Name</label>                             

                            <input class="form-control" id="lnInputName" placeholder="Name"> 
                        </div>

                        <div class="form-group"> 
                            <label class="control-label" for="lnInputLocation">Location</label>                             
                            <input class="form-control" id="lnInputLocation" placeholder="Location"> 
                        </div>

                        <!-- // Requires full profile permissions
                        <div class="form-group"> 
                            <label class="control-label" for="lnInputEducationSchoolNAme">Education - School name</label>                             
                            <input class="form-control" id="lnInputEducationSchoolNAme" placeholder="Education - School name"> 
                        </div>
                        <div class="form-group"> 
                            <label class="control-label" for="lnInputEducationDegree">Education - Degree</label>                             
                            <input class="form-control" id="lnInputEducationDegree" placeholder="Education"> 
                        </div>
                        <div class="form-group"> 
                            <label class="control-label" for="lnInputEducationFieldOfStudy">Education - Field of Study</label>                             
                            <input class="form-control" id="lnInputEducationFieldOfStudy" placeholder="Education"> 
                        </div>
                        -->

                        <div class="form-group"> 
                            <label class="control-label" for="lnInputJobTitle">Job title</label>                             
                            <input class="form-control" id="lnInputJobTitle" placeholder="Job title"> 
                        </div>
                        <div class="form-group"> 
                            <label class="control-label" for="lnInputCompanyName">Company name</label>                             
                            <input class="form-control" id="lnInputCompanyName" placeholder="Company name"> 
                        </div>
                        <div class="form-group"> 
                            <label class="control-label" for="lnInputCompanyIndustry">Company industry</label>                             
                            <input class="form-control" id="lnInputCompanyIndustry" placeholder="Company industry"> 
                        </div>
                        <div class="form-group"> 
                            <label class="control-label" for="lnInputYearsOfExperience">Number of years of experience</label>                             
                            <input class="form-control" id="lnInputYearsOfExperience" placeholder="Number of years of experience"> 
                        </div>                         
                    </form>



                    <!-- END LinkedIn fetch data -->

                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row pg-empty-placeholder"></div>
                </div>
                <div class="col-md-4">
                    <div class="checkbox" style="/* text-align: left */margin-top: 40px;text-align: center"> 
                        <label class="control-label"> 
                            <input type="checkbox" value="">I have read and I agree to the Terms of Use
                        </label>                         
                    </div>
                    <a href="/questionnaire/" class="btn btn-success" style="width:100%">Start</a>
                    <!-- <button type="submit" class="btn btn-success" style="width: 100%">Start</button> -->

                </div>
                <div class="col-md-4">
                    <div class="row pg-empty-placeholder"></div>
                </div>
            </div>
            <hr>
            <footer>
                <p style="text-align: right">All rights reserved &copy; Riskifier 2017</p>
            </footer>
        </div>         
        <!-- /container -->

        <script>

             function statusChangeCallback(response) {


                 console.log('FB login triggered statusChangeCallback');
                 console.log('FB login response: ');
                 console.log(response);
                 if (response.status === 'connected') {

                    FB.api('/me/permissions', function (response) {
                        console.log("Permissions:");
                        console.log(response);
                    });

                     ///document.getElementById('logstat').innerHTML = 'FB User ' + response.status;                                 

                     FB.api('/me?fields=id,name,gender,email,education,birthday,location,hometown,relationship_status,family', function (response) {
                         
                         console.log("Facebook API response:");
                         console.log(response);

                         // var list = document.getElementById('userinfo');

                         // var li = document.createElement('li');
                         // li.innerHTML = 'Name: ' + response.name;
                         // list.appendChild(li);

                         // var li = document.createElement('li');
                         // li.innerHTML = 'Email: ' + response.email;
                         // list.appendChild(li);

                         // var li = document.createElement('li');
                         // li.innerHTML = 'Education: ' + response.education;
                         // list.appendChild(li);

                         // var li = document.createElement('li');
                         // li.innerHTML = 'Hometown: ' + response.hometown;
                         // list.appendChild(li);

                         document.getElementById('fbInputName').value = response.name;


                        // FIXME
                        function _calculateAge(birthday) { // birthday is a date
                            var ageDifMs = Date.now() - birthday.getTime();
                            var ageDate = new Date(ageDifMs); // miliseconds from epoch
                            return Math.abs(ageDate.getUTCFullYear() - 1970);
                        }

                         document.getElementById('fbInputAge').value = _calculateAge(new Date(response.birthday));

                         document.getElementById('fbInputGender').value = response.gender;
                         
                         if (response.location != undefined) {
                             document.getElementById('fbInputLocation').value = response.location.name;
                         }

                         if (response.education != undefined) {
                             var school = "";
                             for (var i = 0; i < response.education.length; i++) {
                                 school = school + response.education[i].type + " - " + response.education[i].school.name + ", ";
                             }
                             document.getElementById('fbInputEducation').value = school;   //response.education[0].type + " - " + response.education[0].school.name;
                         }

                        if (response.relationship_status) {

                            document.getElementById('fbInputMaritalStatus').value = response.relationship_status;
                        }

                        var childrencount = 0;
                        if (response.family != undefined) {
                            for (var i = 0; i < response.family.data.length; i++) {
                                if (response.family.data[i].relationship === 'son' || response.family.data[i].relationship === 'daughter') {
                                 childrencount++;
                                }
                            }
                        }
                        document.getElementById('fbInputNumberOfChildren').value = childrencount;

                     });
                 } else {
                     ///document.getElementById('logstat').innerHTML = 'FB User ' + response.status;
                 }
             }
        </script>


        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <!-- <script src="assets/js/jquery.min.js"></script> -->
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <!-- <script src="bootstrap/js/bootstrap.min.js"></script> -->
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <!-- <script src="assets/js/ie10-viewport-bug-workaround.js"></script> -->
        <script src="{% static 'assets/js/ie10-viewport-bug-workaround.js' %}"></script>
    </body>
</html>
